/* font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-spacing: 0;   
}

h1,h2,h3, button, a{
  font-family: 'Bebas Neue', cursive;
}

p{
  font-family: 'Poppins', sans-serif;
}

.transition{
  background-color: white;
  background-image: -webkit-linear-gradient(60deg, white 50% , #dd7230 50% );
  display: flex;
  align-items: center;
  height: 50px;
}

.transition:nth-child(4){
  background-color: #dd7230;
  background-image: -webkit-linear-gradient(-60deg, white 50% , #dd7230  50% );
}

.loading{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

/* No-user*/

.no-user{
  padding-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-user p{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.no-posts{
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
}

/* Header */

header{
  color: grey;
  position: sticky;
  top: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dd7230;
  padding: 0 10px;
  z-index: 100;
}

.change-class{
  display: none;
}

.navbar div {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar input{
  height: 35px;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  border: none;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
}

.nav-list img{
  max-width: 30px;
}

.nav-list button{
  background: none;
  border: none;
  cursor: pointer;
}

button.search-button{
  background-color: white;
}

.nav-list li{
  display: inline-block;
  padding:0 10px;
}

.nav-list li:first-child{
  padding-right: 0px;
  display: flex;
}

.nav-list li:last-child{
  border-left: 2px solid white;
}

/* Post */

.posts{
  width: 100%;
  margin: auto;
}

.post{
  display: flex;
  width: 800px;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid saddlebrown;
  max-width: 100%;
}

.post div:nth-child(2){
  width: 100%;
}

.post:last-child{
  margin-bottom: 10px;
}

.post h2,.post h3{
  font-weight: 600;
}

.post h3{
  padding-top: 10px;
}

.post .description{
  white-space: pre-wrap;
}

.post img{
  width: 250px;
  padding-right: 20px;
  display: inline-block;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Form */
/* Hex Codes: #854d27, #dd7230, #f4c95d, #e7e393, #04030f */

.form{
  background-color: #dd7230;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  display: flex;
}

.form.active{
  display: none;
}

.show-btn{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border: 2px solid #dd7230;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

.show-btn.active{
  transform: rotate(45deg);
}

.show-btn .bar{
  background-color: #dd7230;
  height: 3px;
  width: 20px;
}

.show-btn .bar::before{
  content: '';
  display: block;
  background-color: #dd7230;
  height: 3px;
  width: 20px;
  transform: rotate(90deg);
}

.form-wrapper{
  background-color: #f4c95d;
  height: fit-content;
  border-right: 15px solid#f4c95d;
  border-left: 15px solid#f4c95d;
  border-top: 15px solid#f4c95d;
  border-radius:15px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 10px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container input, .form-container textarea, .submit, .ingredient{
  width: 400px;
  max-width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #dd7230;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.form-container textarea{
  height: 200px;
  max-height: 100%;
}


.ingredient{
  display: flex;
  background-color: white;
  align-items: center;
}

.edit-image{
  cursor: pointer;
  background-color: #f4c95d;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  height: 45px;
}

.submit, .edit-image{
  background: none;
  height: fit-content;
  border: none;
  color: white;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-radius: 15px;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

.edit-image{
  font-size: 15px;
  background-color: #dd7230;
  color: white;
}

.submit:hover{
  background-color: #dd7230;
  color: white;
}

.form-container input{
  width: 100%;
  box-sizing: border-box;
}

.form-container input:last-child{
  margin-bottom: 0px;
}

.input-text-wrapper{
  width: 100%;
}

input.file-input{
  padding: 0px;
  display: inline-block;
  height: 24px;
  border: none;
}

/* Ingredients */

.ingredient-container{
  display: flex;
}

.add-ingredient{
  background-color: green;
  border: none;
  height: 40px;
  width: 30px;
  cursor: pointer;
}

.delete-ingredient{
  background-color: red;
  border: none;
  height: 40px;
  width: 30px;
  cursor: pointer;
}

.ingredient-bar{
  background-color: white;
  height: 3px;
  width: 20px;
}

/* Edit Page */

.edit-section{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

}

.edit-post{
  background-color: grey;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border: 2px solid grey;
  transition: all .3s ease-in-out;
  margin-left: 10px;
}

.delete-post{
  background-color: red;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border: 2px solid red;
  transition: all .3s ease-in-out;
  margin-left: 10px;
}

.edit-post:hover{
  background-color:white;
  color: grey;
}

.delete-post:hover{
  background-color:white;
  color: red;
}

/* Landing Page */

  /* Banner */

.banner{
  color: white;
  padding: 100px 0;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd7230;
}

.text{
  max-width: 600px;
}

.text a{
  text-decoration: none;
  font-size: 25px;
  color: black;
  background-color: #f4c95d;
  outline: none;
  background-color: none;
  display: inline-block;
  padding: 10px;
  transition: .3s all ease-in-out;
}

.text a:hover{
  background-color: white;
}

.text h1 {
  font-size:35px;
}

.text h3 {
  padding: 30px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.img img{
  width: 350px;
  padding-left: 20px;
}

  /* Offers */

.offers img{
  width: 150px;
  max-width: 100%;
  height: 150px;
  display: inline-block;
  filter: invert(73%) sepia(74%) saturate(4119%) hue-rotate(339deg) brightness(90%) contrast(91%);
}

.offers ul{
  list-style-type: none; 
  margin: auto;
  width: 950px;
  max-width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: white;

}

.offers ul li{
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  text-align: start;
  font-weight: 300;
  padding: 10px 0;
}

.offers ul li h3{
  padding-bottom: 5px;
}

.offers ul li:first-child{
  padding-top: 0px;
}

.offers ul li:last-child{
  border-bottom: none;
  padding-bottom: 0px;
}

  /* Recent Posts */

.glide-wrapper{
  width: 100vw;
  background-color: #dd7230;
}

button.glide__arrow{
  background-color: #f4c95d;
  color: black;
}

button.glide__arrow:hover{
  border: 2px solid #dd7230;
}

.glide{
  padding:50px 0;
  background-color: #dd7230;
  max-width: 950px;
  margin: auto;
}

.glide__slide{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.glide__slide img{
  max-width: 300px;
  width: 100%;
}


/* Media queries */
@media screen and (max-width: 400px){
  .change-class{
    display: inline-block;
    height: 40px;
    width: 35px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0, 0);
  }

  .change-class img{
    height: 100%;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
  }

  .navbar span{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list{
    display: none;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    justify-content: center;
  }

  .nav-list.active{
    display: flex;
  }

  .nav-list img{
    max-width: 150px;

  }

  .nav-list li{
    margin: 20px 0px;
    padding: 0px;
  }

  .nav-list li:last-child{
    border-left: none;
  }

  .post:last-child{
    margin-bottom: 0px;
  }
  .offers ul li{
    flex-direction: column;
  }
}

@media screen and (max-width: 490px){
  /* .slide img {
    height: 200px;
  } */
}

@media screen and (max-width: 600px){
  .post{
    flex-direction: column;
  }
  .post img{
    padding-right: 0px;
    padding-top: 0px;
    padding: 0px 0px 10px 0px;
    width: 300px;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px){
  .navbar{
    padding: 0 3%;
  }

  .form{
    padding: 0 3%;
  }

  .posts{
    padding: 0 3%;
  }
}

@media screen and (max-width: 950px){
  .banner{
    flex-direction: column-reverse;
    padding: 50px 3%;
  }

  .glide{
    padding:50px 3%;
  }

  .recent-posts{
    padding: 50px 3%;
  }

  .offers ul{
    padding: 50px 3%;
  }

  .img img{
    max-width: 100%;
    padding-left: 0px;
    padding-bottom: 30px;
  }
}